@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900   &display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}

section
{
    position: relative;
    min-height: 100vh;
    background:	#191970;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

section .container
{
    position: relative;
    width: 800px;
    height: 500px;
    background: #fff;
    box-shadow: 0 15px 50px rgb(0, 0,0,0.1);

}



section .container .user .imgbx
{
    position: relative;
    width: 50%;
    height: 100%;
    background: violet;
    transition: 0.5s;
}
section .container .user .imgbx img
{
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
section .container .user
{
    position: relative;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    padding:40px;
    transition: 0.5s;

}
section .container .user .formbx form h2
{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: #555;

}

section .container .user .formbx form input
{
    position: relative;
    width: 100%;
    padding: 10px;
    background:#f5f5f5 ;
    color: #333;
    border:none;
    margin:8px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;   
}